@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fdfdfd;
  --foreground: #000000;

  --card: #fdfdfd;
  --card-foreground: #000000;

  --popover: #fcfcfc;
  --popover-foreground: #000000;

  --primary: #f2470c;
  --primary-foreground: #ffffff;

  --secondary: #edf0f4;
  --secondary-foreground: #080808;

  --muted: #f5f5f5;
  --muted-foreground: #525252;

  --accent: #fff0eb;
  --accent-foreground: #cb3706;

  --destructive: #e54b4f;
  --destructive-foreground: #ffffff;

  --border: #e7e7ee;
  --input: #ebebeb;
  --ring: #f2470c;

  --easy: #16803c;
  --medium: #b45309;
  --hard: #c2413b;

  --chart-1: #f2470c;
  --chart-2: #ffad9e;
  --chart-3: #fd822b;
  --chart-4: #3276e4;
  --chart-5: #ffd375;

  --sidebar: #f5f8fb;
  --sidebar-foreground: #000000;
  --sidebar-primary: #000000;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ffece5;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #000000;

  /* Fonts */
  --font-sans: var(--font-geist);
  --font-serif: var(--font-geist);
  --font-mono: var(--font-geist-mono);

  /* shadcn */
  --radius: 0.625rem;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f0f0f0;

  --card: #121212;
  --card-foreground: #f0f0f0;

  --popover: #19191a;
  --popover-foreground: #f0f0f0;

  --primary: #f2470c;
  --primary-foreground: #ffffff;

  --secondary: #cd3a0a;
  --secondary-foreground: #f0f0f0;

  --muted: #232325;
  --muted-foreground: #969696;

  --accent: #741e02;
  --accent-foreground: #fefefe;

  --easy: #6ee7a0;
  --medium: #f2c46d;
  --hard: #f08a84;

  --destructive: #fb6a6a;
  --destructive-foreground: #ffffff;

  --border: #1f1f1f;
  --input: #3b3b3b;
  --ring: #f2470c;

  --chart-1: #f2470c;
  --chart-2: #f4cd0b;
  --chart-3: #fca5a5;
  --chart-4: #5993f4;
  --chart-5: #ffd375;

  --sidebar: #121212;
  --sidebar-foreground: #f0f0f0;
  --sidebar-primary: #f2470c;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #401202;
  --sidebar-accent-foreground: #db3b06;
  --sidebar-border: #33353a;
  --sidebar-ring: #f2470c;

  /* Fonts */
  --font-sans: var(--font-geist);
  --font-serif: var(--font-geist);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-easy: var(--easy);
  --color-medium: var(--medium);
  --color-hard: var(--hard);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.container-6xl {
  @apply w-full max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
}
